---
- name: Projects for Pipeline
  k8s:
    state: "present"
    definition:
      apiVersion: project.openshift.io/v1
      kind: Project
      metadata:
        annotations:
          openshift.io/description: ""
          openshift.io/display-name: "{{ friendly_name }} - {{ item }}"
          openshift.io/sa.scc.mcs: s0:c21,c0
          openshift.io/sa.scc.supplemental-groups: 1000420000/10000
          openshift.io/sa.scc.uid-range: 1000420000/10000
        name: "{{ meta.name }}-{{ item }}"
  loop: "{{ environments }}"
  when: state == "present"

- name: Cleanup Projects
  k8s:
    state: "absent"
    definition:
      kind: Project
      apiVersion: project.openshift.io/v1
      metadata:
        name: "{{ meta.name }}-{{ item }}"
  loop: "{{ environments }}"
  when: state == "absent"

# - name: Jenkins SA Role Binding
#   k8s:
#     state: present
#     definition:
#       apiVersion: authorization.openshift.io/v1
#       kind: RoleBinding
#       metadata:
#         name: jenkins_edit
#         namespace: "{{ baseName }}-{{ item }}"
#       roleRef:
#         name: edit
#       subjects:
#       - kind: ServiceAccount
#         name: "{{ jenkinsServiceAccountName }}"
#         namespace: "{{ jenkinsServiceAccountNamespace }}"
#       userNames:
#       - "system:serviceaccount:{{ jenkinsServiceAccountNamespace }}:{{ jenkinsServiceAccountName }}"
#   loop: "{{ environments }}"

